:80 {
        redir / https://{host}{path} 302
}
ldn.distribution-points.net {
        tls {
                dns digitalocean
        }
}
plex.trinitydns.net {
tls {
        dns digitalocean
}
        root /var/www/html/filtering
log / requests.log "{remote} {proto} Request: {method} {host}{path}" {
        rotate_size 50  # Rotate after 50 MB
        rotate_age  90  # Keep rotated files for 90 days
        rotate_keep 20  # Keep at most 20 log files
        rotate_compress # Compress rotated log files in gzip format
}
proxy / 46.105.99.30:32400/ {
transparent
}
}
